.app{
display: grid;
place-items: center;
height: 100vh;
background-color: #b39eb5;
}

.app__body{
  display: flex;
  background-color: #a9cbd7;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}

.chat__message{
  position: relative;
  font-size: 16px;
  padding: 10px;
  width:fit-content;
  border-radius:10px;
  background-color:white;
  margin-bottom: 30px;

}