@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

.app{
display: grid;
place-items: center;
height: 100vh;
background-color: #b39eb5;
}

.app__body{
  display: flex;
  background-color: #a9cbd7;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}
.login__container{
  justify-content: center;
}

.login__container > img{
    object-fit: contain;
    height: 400px;
    margin-bottom: 40px;
}

.MuiButton-label {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
    font-family: 'BioRhyme', serif;
    justify-content: center;
    align-items: center;
    padding:.75em;
}
.login__text {
  font-family: 'BioRhyme', serif;
  text-align: center;
}
.login__button {
  align-self: center;
}